/* Base closed state */
.slide-down {
    overflow: hidden;
    max-height: 40px;
    /* closed height */
    transition:
        max-height 5s ease,
        background-color 0.25s ease;
}

/* Open state */
.slide-down.open {
    max-height: 300px;
    /* must be bigger than content */
}

.ant-popover-container {
    padding: 4px !important;
}